header {
  .nav-container {
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: #fff;
    }

    .nav-start {
    }

    .nav-end {
      a {
        margin: 20px;
      }
    }
  }
}
