header {
  background-color: #222;
  font-size: 14px;

  .nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 4em;

    .dropdown {
      button {
        transition: 0.2s ease-in-out;

        &:hover {
          cursor: pointer;
          border-bottom: 2px solid #10eafe;

          a {
            color: #10eafe;
          }
        }
      }

      .nav-btn {
        height: 4em;
        width: 175px;
        background-color: transparent;
        border: none;

        &:hover {
          color: #10eafe;
        }
      }

      .dropdown-items {
        display: none;
        position: absolute;
        background-color: #222;
        width: 175px;
        z-index: 1;

        a {
          color: #fff;
          padding: 12px 16px;
          text-decoration: none;
          display: block;

          &:hover {
            background-color: rgb(25, 25, 25);
            color: #10eafe;
          }
        }
      }

      &:hover {
        .dropdown-items {
          display: block;
        }
      }
    }

    a {
      text-align: left;
      text-decoration: none;
      color: #fff;
      transition: 0.2s ease-in-out;

      img {
        height: 3em;
        width: auto;
      }
    }
  }
}
